# Dependências
node_modules/

# Build
dist/

# Variáveis de ambiente
.env
.env.local
.env.*

# Logs
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db

# Configurações de IDE
.vscode/
.idea/